.App {
  text-align: center;
}
.form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 90%;
  margin: 20px;
}
.form-control{
  display: flex !important;
  flex-direction: row !important;
}
.form-input{
  flex: 1;
  border: 1px solid grey;
  border-radius: 12px;
  outline: none;
  padding: 10px;
}
.form-icon{
  flex: 0;
}
.App-logo {
  height: 20vmin;
  margin-top: 20px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
